<!--<app-article [title]="'Đây là tiêu đề 1'"></app-article>-->
<!--<app-article [title]="'Đây là tiêu đề 2'"></app-article>-->
<!--<app-article [title]="'Đây là tiêu đề 3'"></app-article>-->
<!--<app-article [title]="'Đây là tiêu đề 4'"></app-article>-->
<!--<app-article [title]="'Đây là tiêu đề 5'"></app-article>-->
<!--<app-article [title]="'Đây là tiêu đề 6'"></app-article>-->

<h3 style="color: blue" *ngIf="isLoading">{{ loadingMessage }}</h3>
<h3 style="color: red" *ngIf="message">{{ message }}</h3>

<app-article *ngFor="let item of articles"
             [article]="item"
             (onClickShowButton)="showArticleContent($event)"
>

</app-article>

<!--<app-demo-component [article]="demoArticleTitle"></app-demo-component>-->

<!--{{ demoArticleTitle }}-->
